@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  content: "";
  animation: scroll 60s linear infinite;
  background-image: radial-gradient(circle, hsl(var(--nextui-foreground-300)) 2px,transparent 0);
  background-size: 100px 150px;
  width: 100%;
}

@keyframes scroll {
  to {
    background-position: 0 -500px;
  }
}

.explore-background {
  background-image: url('/explore_2.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}